#!/usr/bin/env bash

set -eufo pipefail

REST_SERVER_VERSION=0.12.1
ARCH=$(dpkg --print-architecture)

curl --location https://github.com/restic/rest-server/releases/download/v"$REST_SERVER_VERSION"/rest-server_"$REST_SERVER_VERSION"_linux_"$ARCH".tar.gz --output /opt/rest-server.tar.gz
tar xf /opt/rest-server.tar.gz -C /opt
cp /opt/rest-server_"$REST_SERVER_VERSION"_linux_"$ARCH"/rest-server /usr/local/bin/
chmod +x /usr/local/bin/rest-server
