#!/usr/bin/env bash

set -eufo pipefail

useradd --user-group --create-home --shell=/usr/bin/bash --password="$(openssl passwd -6 restic)" restic

mkdir /home/restic/backup
mkdir /home/restic/documents
echo 'this is a test' >> /home/restic/documents/work.txt

echo abc > /home/restic/password-file.txt

echo 'restic -r rest:http://localhost:8000/ --password-file=/home/restic/password-file.txt init' > /home/restic/demo.sh
echo 'restic -r rest:http://localhost:8000/ --password-file=/home/restic/password-file.txt backup documents/' >> /home/restic/demo.sh
echo 'restic -r rest:http://localhost:8000/ --password-file=/home/restic/password-file.txt snapshots' >> /home/restic/demo.sh
chmod +x /home/restic/demo.sh

chown -R restic:restic /home/restic
find /home/restic -printf '%M %u:%g %p\n'
